@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato);

body{
	background-color: #F0F0F0;
	font-family: "Helvetica";
}

header{
	margin: 40px auto;
	text-align: center;
}

h1{
    color: #4ead77;
    font-family: 'Droid Sans', sans-serif;
    font-size: 3em;
}

h3{
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;
    margin-top: -20px;
}

h4{
    color: #9b9b9b;
    font-family: 'Open Sans', sans-serif;
    margin-top: 70px;
    text-align: center;
}

p{
    color: #212121;
	font-size: 5em;
    text-align: center;
	height: 100px;
}

button {
	
    color: #fff;
    text-decoration: none;
    background-color: #54BB81;
    border:none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2em;
    display: block;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px #2C9156;
    -moz-box-shadow:0px 9px 0px #2C9156;
    box-shadow: 0px 9px 0px #2C9156;
    margin: 0px auto;
	width: 220px;
    padding:12px 0 12px 0;
	text-align: center;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

button:hover{
    background-color: #49A973;
}

button:active {
    -webkit-box-shadow: 0px 3px 0px #2C9156;
    -moz-box-shadow: 0px 3px 0px #2C9156;
    box-shadow: 0px 3px 0px #2C9156;
    position: relative;
    top: 6px;
}

button:focus {outline:0;}

footer{
    margin: 0 auto;
    width: 50%;
}

#follow{
    margin:0 auto;
}

a{color: #707070;}
a:hover{color:#515151;}

@media (max-width: 600px) {

h1{
    font-size:3em;
}

p{
    font-size: 2.7em;
}

h4{
    font-size:1.4em; 
}

footer{
    width: 90%;
}


  }